<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="field form-group mb-3">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
  </div>

  <div class="field form-group mb-3">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
  </div>

  <div class="field form-group mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'user@example.com' %>
  </div>

  <div class="field form-group mb-3">
    <%= f.label :bio %>
    <%= f.text_field :bio, class: 'form-control', placeholder: 'Your bio' %>
  </div>

  <%= f.fields_for :socials do |sf| %>
      <%= render "social_fields", f: sf %>
  <% end %>
  <%= link_to_add_fields "Add Social Media", f, :socials %>

  <div class="actions mt-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
