<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="far fa-image"></i></span>
    <%= f.file_field :image, accept: 'image/png, image/jpg, image/jpeg', class: "form-control file-upload" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2"><i class="far fa-envelope"></i></span>
    <%= f.text_field :email, class: 'form-control', placeholder: 'user@example.com' %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2"><i class="fas fa-phone-alt"></i></span>
    <%= f.text_field :phone, class: 'form-control', placeholder: '111 222 3333' %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2"><i class="fas fa-map-marked-alt"></i></span>
    <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
    <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2"><i class="far fa-address-card"></i></span>
    <%= f.text_area :bio, class: 'form-control', placeholder: 'Your bio' %>
  </div>


  <h4>Social networks</h4>
  <%= f.fields_for :socials do |sf| %>
      <%= render "social_fields", f: sf %>
  <% end %>
  <p>
    <strong>Add new field</strong>
    <%= link_to_add_fields ('<i class="fas fa-plus"></i>').html_safe, f, :socials %>
  </p>

  <div class="actions mt-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
