<div class="nested-fields">
  <div class="field form-group mb-3">
    <%= f.label :social_network_name %>
    <%= f.text_field :social_network_name, class: 'form-control', placeholder: 'LinkedIn, Twitter, Instagram...' %>
  </div>

  <div class="field form-group mb-3">
    <%= f.label :profile_link %>
    <%= f.text_field :profile_link, class: 'form-control', placeholder: 'https://www.myscocialnetwork.com/username' %>
  </div>
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </td>
</div>
