<div class="p-5 text-left bg-light rounded-lg m-5">

  <% if @user.image.attached? %>
    <%= image_tag @user.image.variant(resize: '400x400') %>
  <% end %>

  <h1 class="mb-3">
    <%= @user.first_name %>
    <%= @user.last_name %>
  </h1>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @user.city %>, <%= @user.country %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <% @user.socials.each do |profile| %>
  <p>
    <strong><%= profile.social_network_name %>: </strong>
    <%= profile.profile_link %>
  </p>
  <% end %>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>