<div class="p-5 text-left bg-light rounded-3 m-3">

  <% if @user.image.attached? %>
    <%= link_to image_tag(@user.image.variant(resize_to_fill: [400, 400])), @user.image %>
  <% end %>

  <h1 class="mb-3">
    <%= @user.first_name %>
    <%= @user.last_name %>
  </h1>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @user.city %>, <%= @user.country %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <% @user.socials.each do |profile| %>
  <p>
    <strong><%= profile.social_network_name %>: </strong>
    <%= profile.profile_link %>
  </p>
  <% end %>

  <%= link_to ('<i class="fas fa-edit"></i>').html_safe, edit_user_path(@user), class: 'btn btn-primary btn-sm' %>
</div>

<%= link_to ('<i class="fas fa-chevron-left"></i>').html_safe, users_path, class: 'btn btn-secondary btn-sm' %>
